<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MLog.Properties.Settings.MLogConnectionString" connectionString="Data Source=WN-ITDEV-LT08;Initial Catalog=MLog;User ID=mykeels"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>