<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="mlog-app" value="MlogTests" />
  </appSettings>
  <connectionStrings>
    <add name="MLog.Properties.Settings.MLogConnectionString" connectionString="Data Source=WN-ITDEV-LT08;Initial Catalog=MLog;User ID=mykeels;Password=password"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>